* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    background-color: #FEFBF6 !important;
}

.row {
    background-color: #FEFBF6;
}

.menu {
    background: rgba(246, 245, 219, 0.5);
 }

.title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 80px;
}

.user-info {
    background-color: #FEFBF6;
}

.sub-menu .item  {
    margin: 50px 0;
    color: #1B9C85;
    cursor: pointer;
    font-size: 20px;
}

.item a {
    text-decoration: none;
}

.form-container {
    padding: 50px 150px !important;
    background-color: #FEFBF6;
    height: 100vh;
}

form input {
    width: 100%;
    padding: 2px 0;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

form input::placeholder {
    font-weight: 300;
    font-style: italic;
}

label {
    font-weight: bold;
}

.save-btn .btn {
    background-color: #fff;
    color: #1B9C85;
    border: 1px solid #1B9C85;
    border-radius: 40px;
}

.save-btn .btn:hover {
    color: #fff;
    background-color: #1B9C85;
    border: 1px solid #1B9C85;
}

.save-btn .btn {
    background-color: #fff;
    color: #1B9C85;
    border: 1px solid #1B9C85;
    border-radius: 40px;
}

.save-btn .btn:last-child:hover {
    color: #fff;
    background-color:  #FF0000;
    border: 1px solid #FF0000;
}

.save-btn .btn:first-child {
    color: #fff;
    background-color: #1B9C85;
    border: 1px solid #1B9C85;
}

.save-btn .btn:first-child:hover {
    background-color: #fff;
    color: #1B9C85;
    border: 1px solid #1B9C85;
    border-radius: 40px;
}



.header {
    background-color: #F6F5DB;
    padding: 0 30px !important;
}

.nav ul:first-child {
    margin-left: -15px;
}

.nav {
    width: 15%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}


.nav li a {
    font-size: 25px;
    color: #07484A;
}

.nav li .btn-item {
    font-size: 18px;
    font-weight: bold;
}

.nav li a:hover {
    background-color: transparent !important;
    color: #1B9C85;
}

.nav .cart {
    position: relative;
}

.nav .badge { 
    position: absolute;
    top: 10%;
    right: 0;
    background-color: #FF0000;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar {
    padding: 0 !important;
}

