/* reset CSS */
* {
    padding: 0 !important;
    margin: 0;
    box-sizing: border-box !important;
}

.container-fluid {
    position: relative;
    height: 80vh;
    width: 100%;
}

.row {
    margin: 0 !important;
}


/* HEADER */
.header {
    position: absolute;
    width: 100%;
    padding: 0 150px !important;
    background-color: transparent;
    z-index: 999;
}

.header nav {
    width: 100%;
    height: 80px;
    display: flex;
}

.header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.5s,transform 0.4s ease-out;
}


nav a:hover::before, nav a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
    background-color: #45ccb3;
}


nav a:hover {
    color: #45ccb3;
    font-weight: bold;
}

/* BANNER */
.banner iframe {
    position: relative;
    height: 80vh;
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.35;    
}

.banner-title h1 {
    position: absolute;
    height: 100%;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.banner-search input {
    position: absolute;
    top: 70%;
    bottom: 22%;
    left: 30%;
    right: 30%;
    border-radius: 30px;
    border: none;
    padding: 0 30px !important;
}

.banner-search button {
    position: absolute;
    top: 70%;
    bottom: 22%;
    left: 60%;
    right: 25%;    
}

.banner-search button i {
    color: #000;
}

.banner-search button i:hover {
    color: #45ccb3;
}

.banner-search input::placeholder {
    font-style: oblique;
}

.banner-title em {
    color: #45ccb3;
    position: relative;
}

.banner-title em:hover {
    color: #fff;
    cursor: pointer;
}

.banner-title em::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.5s,transform 0.4s ease-out;
}


em:hover::before, em:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}


/* Section: HOT DEAL */
.hot-deal {
    background: #F6F5DB;
    height: 100%;
}

.hot-deal-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

.hot-deal-title h1 {
    text-transform: uppercase;
    font-size: 70px;
}

.hot-deal-title img {
    width: 150px;
}

.item .card {
    cursor: pointer;
    overflow: hidden !important;
}

.item-card .card {
    border-radius: 20px;
}

.item-list .card {
    border-radius: 20px;
    margin: 0 15px;
}

.card img {
    width: 200px !important;
    height: 180px;
}

.card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-body {
    margin-bottom: 15px;
}

.card-body a {
    text-decoration: none;
    color: #000;
}

.card-body a:hover {
    color: #1B9C85;
}

.card-content a {
    text-decoration: none;
    color: #000;
}

.card-content a:hover {
    color: #1B9C85;
}

.bricked-price {
    text-decoration: line-through;
    color: rgba(51, 51, 51, 0.8);
}

.price, .hot-deal-footer h2, .hot-deal-footer ul, u, .best-selling-title {
    color: #FF0000;
}


.item .btn {
    background-color: #fff;
    color: #1B9C85;
    border: 1px solid #1B9C85;
    border-radius: 40px;
}

.item .btn:hover {
    color: #fff;
    background-color: #1B9C85;
    border: 1px solid #1B9C85;
}

/* carousel */
.owl-prev {     
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 30%;
}

.owl-prev span, .owl-next span {
    font-size: 60px;
}

.owl-nav span:hover {
    color: #1B9C85;
}

.owl-nav button:hover {
    background-color: transparent !important;
}

.owl-dots .active span {
    background-color: #1B9C85 !important;
}
/* end carousel */


.hot-deal-banner img {
    width: 100%;
}



/* CATEGORY */
.category {
    background-color: #fff6a9;
    height: 100%;
    padding: 0 100px !important;
}

.category .ad-banner img {
    width: 100%;
    height: 22rem;
}

.category .card {
    background-color: #fff;
    position: relative;
    width: 100%;
    overflow: hidden !important;
    cursor: pointer;
    height: 10.25rem;

}

.category .card img {
    width: 180px !important;
    height: auto;
}

.category h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.category h5:hover {
    color: #007965;   
}

.category .overlay {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.7;
}



/* BEST SELLING */
.best-selling {
    background-color: #FEFBF6;
}

.best-selling-title h1 {
    text-transform: uppercase;
}

ul.pagination {
    margin: 0 !important;
}




/* COUNT DOWN styling */
.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 20px;
}

#countdown li span {
    display: block;
    font-size: 35px;
    margin: 0 20px;
    font-weight: 500;
}

/* Back To Top */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: #1B9C85;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.pagination li:active {
    font-weight: 800;
}

