
/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    background-color: #FEFBF6 !important;
}

.height-100 {
    height: 100vh;
}

.container-fluid {
    background-color: #FEFBF6 !important;
}

.card {
    width: 100%;
    border: none !important;
    height: 100vh;
    /* box-shadow: 0px 5px 20px 0px #d2dae3; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFBF6 !important;
}

.card h6 {
    color: #178370;
    font-size: 25px
}

.inputs input {
    width: 40px;
    height: 40px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: #178370;
}

.form-control:focus {
    box-shadow: none;
}

.validate {
    border-radius: 20px;
    height: 40px;
    background-color: #178370;;
    border: 1px solid #178370;;
    width: 140px
}

.mobile-text {
    color: #178370;
    font-size: 15px;
}

.button .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1B9C85;
    border: 2px solid #1B9C85;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 50px;
    width: 150px;
    border-radius: 30px;
    padding: 10px 0;
}

.button .btn:hover {
    background-color:rgba(255, 255, 255, 0.9);;
    color: #1B9C85;
    border: 2px solid #1B9C85;
}

#resend span {
    font-style: italic;
    cursor: pointer;
}

#resend span:hover {
    font-weight: bold;
}

input {
    width: 30vw;
    padding: 2px 0;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
